.orderBtns-group {
  display: flex;
  align-items: center;;
}
.orderBtns-group label {
  width: 100%;
  padding: 10px 0;
  border: none;
  font-size: 16px;
  border-radius: 0.25rem;
  color: #FFF;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.orderBtns-group .orderNow{
  background-color: var(--main-color);
  margin-left: 5px;
}
.orderBtns-group .cashNow {
  background-color: #2980b9;
  margin-right: 5px;
}
.orderBtns-group .orderNow:hover {
    background-color: #c45800;
}
.orderBtns-group .cashNow:hover {
  background-color: #2573a7;
}