@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #fd7e14;
  --hover-color: #ea901e;
  --text-color: rgb(44, 44, 44);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 14px;
  font-family: "Droid Sans", sans-serif;
  color: var(--text-color);
  font-weight: 500;
  background-color: #F3F3F3;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--text-color);
}



/* ----------------------------------Responsive------------------------------------- */
@media (min-width: 1025px) and (max-width: 1280px){
  .cSelect__drop {
      top: 102px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .cSelect__drop {
      top: 102px;
  }
}